<div class="card opp-card">
	<div class="card-header">
		<a ui-sref="nonprofit({id:opp.nonprofit.id})" ng-bind="::opp.nonprofit.name"></a>
	</div>
	<div class="card-block">
		<img ng-src="{{::opp.nonprofit.logoURL}}" class="img-circle pull-right m-l-1">
		<h4 class="card-title"><a ui-sref="signup({id:opp.id})" ng-bind="::opp.title"></a></h4>
		<p class="card-text" ng-bind="::opp.abstract"></p>
		<p class="card-text" ng-if="::opp.causes">
			<span class="label label-pill label-dark-green" ng-repeat="cause in ::opp.causes">{{::cause.name}}</span>
		</p>	
	</div>
	<div class="card-footer">
		<button ui-sref="signup({id:opp.id})" type="button" class="btn btn-primary btn-sm m-r-1">Sign Up</button>
		<span class="card-text" ng-bind="::opp.volunteersNeeded"></span>
		<span class="card-text"> volunteers needed!</span>
	</div>
</div>