@import "variables.scss";

@import "../vendor/bootstrap/scss/bootstrap";
@import "../vendor/font-awesome/scss/font-awesome";

// Mixins
@include bg-variant('.bg-dark-green', $ag-dark-green);
@include bg-variant('.bg-light-green', $ag-light-green);
@include bg-variant('.bg-dark-blue', $ag-dark-blue);
@include bg-variant('.bg-light-blue', $ag-light-blue);
@include bg-variant('.bg-red', $ag-red);
@include bg-variant('.bg-orange', $ag-orange);


@include media-breakpoint-up(sm) {
  .card-columns {
    column-count: 1;
  }
}

@include media-breakpoint-up(md) {
  .card-columns {
    column-count: 2;
  }
}

@include media-breakpoint-up(lg) {
  .card-columns {
    column-count: 2;
  }
}

@include media-breakpoint-up(xl) {
  .card-columns {
    column-count: 3;
  }
}

.ag-jumbotron {
	// @include gradient-vertical($gray-light, $ag-dark-blue, 0%, 100%)
	background-color: #fff;
	padding: 0;
}

.ag-navbar {

    text-align: center;

	.ag-nav {
	    display:inline-block;
	    float: none;
	    vertical-align: top;

		.nav-item {
			@extend .m-l-3;
			@extend .m-r-3;
		}
	}

	.input-group-addon {
		line-height: 1.5;
		border-top-right-radius: $input-border-radius;
		border-bottom-right-radius: $input-border-radius;
	}

}
