$ag-dark-green:				rgb(152,154,38);
$ag-light-green: 			rgb(179,183,27);
$ag-dark-blue: 				rgb(0,109,131);
$ag-light-blue: 			rgb(0,136,138);
$ag-red:					rgb(148,45,27);
$ag-orange:					rgb(233,93,20);

$brand-primary:				#007c9e;
$brand-success:				#5cb85c;
$brand-info:				#5bc0de;
$brand-warning:				#f0ad4e;
$brand-danger:				#d9534f;

$border-radius: 			0rem;
$border-radius-lg:			0rem;
$border-radius-sm:			0rem;
$card-border-radius:		.3rem;

$input-border-radius:            .25rem;
$input-border-radius-lg:         .3rem;
$input-border-radius-sm:         .2rem;

$font-family-sans-serif:     "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
$body-bg:                    #eee;

$enable-flex: 				true;
$fa-font-path:   "../vendor/font-awesome/fonts";